// Specific CSS for your home-page

homepage-style
.info-banner {
  border-radius: 5px;
  max-width: 100%;


.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  }

.background_pic {
  min-height: 100vh;
}
