


<div class="background_pic" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/5428994/pexels-photo-5428994.jpeg)">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
