

<main class="container p-5">


  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="info-banner bg-white shadow p-4 position-relative">
        <div class="banner-user text-center">

          <h1>Sua empresa é boa ou é uma farsa? Descubra!</h1>

          <br>
          <br>

          <p>Quer descobrir algo? Faça o Login</p>

          <br>
          <br>

          <p>Quer contar algo pra gente? Faça o Login</p>



        </div>
      </div>
    </div>
  </div>

</main>

