
<div class="container-md">
  <div class="row my-4 justify-content-center">
    <div class="col-12 col-md-4">
      <div class="form-login">
        <h2>Edit Company:</h2>
        <%= render 'form', company: @companies %>

        <%= link_to companies_path do %>
        <i class="fa-solid fa-arrow-rotate-left" style="font-size:20px;"></i>
        <% end %>


      </div>
    </div>
  </div>
</div>
